.rw-conversation-container .rw-header {
  background-color: #b32227;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 55px;
  font-family: Inter,sans-serif;
  position: relative;
}

.rw-conversation-container .rw-client {
  background-color: #b32227;
  color: #fff;
  border-radius: 15px;
  padding: 11px 15px;
  max-width: 215px;
  text-align: left;
  font-family: Inter,sans-serif;
  background-color: #b32227;
  max-width: 85%;
  margin-left: auto;
  overflow-wrap: break-word;
}

.rw-launcher {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: .5s;
  -webkit-animation-name: slide-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: .5s;
  -moz-animation-name: slide-in;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: .5s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b32227;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 10px 1px #b5b5b5;
  height: 60px;
  margin: 0;
  width: 60px;
  box-sizing: border-box;
}